<div class='container'>
	{{>nav}}
</div>
<div class="container">
	<div class="row gx-5">
		<!--First column profile-->
		<div class="col-4">
			<h1>Profile</h1>
			<hr />
			<form action="/profile?_method=PATCH" method="post">
				<div class="mb-3 mt-3">
					<label class="form-label">User Name</label>
					<div>
						<input name="{{user.name}}"type="text" class="form-control" value="{{user.name}}" />
					</div>
				</div>
				<div class="mb-3">
					<label name="email" class="form-label"
						>Email</label
					>
					<input
					name="{{user.email}}"
						type="email"
						class="form-control"
					value="{{user.email}}"/>
				</div>
			</form>
			<p>Profile Picture</p>
<div>
				<img
					src="{{user.avatar}}"
					class="rounded-circle"
					width="70px"
				/>
</div>

			<button name="changes"class="btn btn-secondary mt-2">
				Save Changes
			</button>
		</div>
		<!--Second columns listenings-->

		<div class="col-8">
			<h1>List of Houses</h1>
			<hr />
			<button name="listofhouse" class="btn btn-secondary">
				List a House
			</button>
			{{#each userHouses as |house|}}
			<div class="card mb-3 mt-2" style="max-width: 1000px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img
							src="{{house.photos.[0]}}"
							class="img-fluid rounded-start"
						/>
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{house.title}}</h5>
							<i class="fas fa-map-marker-alt"></i>
							<small >{{house.location}}  ${{house.price}}</small>
							<p class="card-text mt-2">
							{{house.description}}
						</p>
							<button action="/:id/edit" class="btn btn-outline-secondary">
								Edit
							</button>
							<button action="/:id" class="btn btn-outline-secondary">
								View
							</button>
							<form>
								<button  class="btn btn-outline-secondary">
									Delete
								</button>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
