<!-- Here is the part of the image with the button -->
<div class="container">
	{{>nav}}
	<!-- Here is the part of the navigation bar with ths options and button -->
</div>
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<form method="get" action="/houses" class="d-flex">
		<div class="container-fluid">
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<div class="col-auto pe-3">
							<div class="input-group">
								<div class="input-group-text">@</div>
								<select class="form-select" name="location">
									<option selected name="any location">Any location</option>
									<option value="Koh Samui" name="Koh Samui">Koh Samui</option>
									<option value="Ko Phangan" name="Ko Phangan">Ko Phangan</option>
									<option value="Bali" name="Bali">Bali</option>
								</select>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<div class="col-auto pe-3">
							<div class="input-group">
								<div class="input-group-text">@</div>
								<select class="form-select" name="rooms">
									<option selected name="any rooms">Any rooms</option>
									<option value="1" name="1">1</option>
									<option value="2" name="2">2</option>
									<option value="3" name="3">3</option>
									<option value="4" name="4">4</option>
								</select>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<div class="col-auto pe-3">
							<div class="input-group">
								<div class="input-group-text">$</div>
								<input
									type="number"
									class="form-control"
									min="1"
									placeholder="max price"
									name="price"
								/>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<div class="col-auto pe-3">
							<div class="input-group">
								<div class="input-group-text">#</div>
								<select class="form-select" name="orderprice">
									<option placeholder="Price(low to high)">Price(low to high)</option>
									<option placeholder="Price(high to low)">Price(high to low)</option>
								</select>
							</div>
						</div>
					</li>
				</ul>

					<input
						class="form-control-sm me-2"
						type="search"
						placeholder="Search"
						aria-label="Search"
						name="Search"
					/>
					<button class="btn btn-success" type="submit">
						Search
					</button>
				</form>
			</div>
		</div>
	</nav>
</div>
<!-- Here is the part were is the cards images -->
<div class="container">
	<div class="row row-cols-4">
		{{#each house as |house|}}
		<div class="col">
			<div class="mt-3">
				<div class="card">
					<a href='/houses/{{house._id}}'><img
						src="{{house.photos.[0]}}"
						class="card-img-top"
					/></a>
					<div class="card-body">
						<h6 class="card-subtitle mb-2 text-muted">{{house.location}}</h6>
						<a class="card-title" href='/houses/{{house._id}}'><h5>{{house.title}}</h5></a>
						<span class="card-text text-muted">${{house.price}}/night</span>
						<a class="card-link text-muted" href="">Review</a>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>
